@charset "utf-8";
/* CSS Document */

body{ font-family: Arial, Helvetica, sans-serif, "宋体"; font-size:13px; }
*{ padding:0; margin:0;}  
a,img{border:none;}
ul,ul{ list-style:none;}
.door_top{ width:100%; height:38px; background:url(../images/door_topmenu.gif) repeat-x; }

.addtoFavorite{ width:990px; height:38px; margin:0 auto; }
.door_topleft{ width:570px; height:38px; float:left; line-height:30px;}
.door_topleft a{ line-height:38px;text-decoration:none; color:#FFFF66; padding:0 5px;}
.door_topleft a:hover{ color:#FFF; text-decoration:underline;}

.addtoFavorite p{width:200px; height:38px; float:right;color:#FF6; }
.addtoFavorite p a{ text-decoration:none; color:#FF6; padding:0 10px; text-align:center; line-height:38px; }
.addtoFavorite p a:hover{ color:#FFF; text-decoration:underline;}

.door_content{ width:990px; margin:0 auto; padding-top:10px; overflow:hidden;}


.door_menu{ width:990px; height:83px; background:url(../images/door_menu.gif) no-repeat; margin-top:10px; }
.door_menuul{ width:990px; height:55px; padding-top:17px; }
.door_menulist{ width:200px; height:27px; float:left; padding-left:46px;}
.door_menulist a{ color:#FFF; font-weight:bold; text-decoration:none; padding:0 10px;}
.door_menulist a:hover{color:#FF6; text-decoration:underline;}

.door_among{ width:990px; overflow:hidden;}
.door_matterlf{width:700px; overflow:hidden; margin-top:10px; float:left; }
.door_nav{ width:700px; height:400px;  }
#door_intro{ width:350px; height:400px; float:left; }
#door_intro a:hover{ color:red; text-decoration:underline;}
.door_introul{ list-style:none; width:350px; height:32px; background:url(../images/door_btbg1.gif) no-repeat;}
.door_introul li{ width:86px; color:#399001; float:left;height:32px; cursor:pointer; font-weight:bold; line-height:32px; text-align:center; font-size:13px; } 
.door_introul li.door_introIn{ width:86px; height:32px; background:url(../images/door_btbg0.gif) no-repeat; z-index:100; }
div.contentInft{ color:#000; width:350px; height:368px;  display:none;  }
div.contentIn{ width:350px; height:368px; display:block;   clear:left; overflow:hidden;  }



.door_work{ width:700px; height:218px; margin-top:10px;  }
.word_left{ width:350px; height:218px; float:left; }
.word_leftbt{ width:350px; height:33px; background:url(../images/door_btbg3.gif) repeat-x;}
.word_leftbt strong{ float:left; color:#399001; line-height:33px; padding-left:15px;}
.word_leftbt span{ float:right; padding:5px 20px 0 0; }

.word_trends{width:350px; height:180px; overflow:hidden;} 
.trends_dt{ height:25px; width:240px; overflow:hidden; float:left; line-height:25px; padding-left:20px; background:url(../images/door_li1.gif) no-repeat;}
.trends_dt a{ color:#333; text-decoration:none;  }
.trends_dt a:hover{ color:red; text-decoration:underline;}
.trends_time{ height:25px; width:65px; overflow:hidden; line-height:25px; padding-left:20px; color:#666;}


.word_rule{ width:320px; height:218px; float:right; background:url(../images/door_btbg3.gif) repeat-x;}
.word_leftbt1{ width:320px; height:33px; background:url(../images/door_btbg3.gif) repeat-x;}
.word_leftbt1 strong{ float:left; color:#399001; line-height:33px; padding-left:15px;}
.word_leftbt1 span{ float:right; padding:5px 20px 0 0;  }

.rule_Laws{width:320px; height:180px; overflow:hidden;}
.rule_Lawsbt{ height:25px; width:210px; overflow:hidden; float:left; line-height:25px; padding-left:20px; background:url(../images/door_li1.gif) no-repeat;}
.rule_Lawsbt a{ color:#333; text-decoration:none;  }
.rule_Lawsbt a:hover{ color:red; text-decoration:underline;}
.Lawstime{ height:25px; width:65px; overflow:hidden; line-height:25px; padding-left:20px; color:#666;}


.door_poster{ width:700px; height:115px; margin-top:10px;}
.door_poster img{ width:700px; height:115px; }

.door_Brewing{ width:700px; height:205px; margin-top:20px; }
.door_Bretitle{ width:700px; height:33px; background:url(../images/door_btbg4.gif) repeat-x; }
.door_Bretitle strong{ float:left; color:#399001; line-height:33px; padding-left:15px;}
.door_Bretitle span{ float:right; padding:5px 20px 0 0;  }
.door_Brecont{ width:700px; height:172px; overflow:hidden;}
.door_Brecont ul{ width:700px; height:172px;}
.door_Brelist{width:550px;height:25px; float:left; overflow:hidden; line-height:25px; padding-left:20px; background:url(../images/ico1.gif) no-repeat;}
.door_Brelist a{ color:#333; text-decoration:none; }
.door_Brelist a:hover{ color:red; text-decoration:underline;}

.door_Bretime{width:85px;height:25px;overflow:hidden; line-height:25px; padding-left:20px; color:#666;}


.door_partner{ width:700px; height:142px; margin-top:20px; overflow:hidden;}
.door_partnerbt{ width:700px; height:32px; background:url(../images/door_btbg3.gif) repeat-x; }
.door_partnerbt strong{ float:left; color:#399001; padding:10px 0 0 15px;}
.door_partnerbt span{ float:right; padding:5px 20px 0 0;  }
.door_partnercont{ width:700px;height:100px; padding-top:8px; overflow:hidden;} 
.door_partnerimg{ width:700px; height:56px; overflow:hidden;}
.door_partnerimg li{ width:135px;text-align:center; float:left; }
.door_partnerfont{ width:700px; height:30px; line-height:30px; text-align:center; float:left; overflow:hidden;}
.door_partnerfont li{ width:135px;text-align:center; float:left; }
.door_partnerfont a{ color:#333; line-height:30px; text-decoration:none;}
.door_partnerfont a:hover{ color:red; text-decoration:underline;}







.door_navfont{ width:350px; height:350px; overflow:hidden;}
.door_navbold{ width:350px; font-size:14px; text-align:center; line-height:32px;}
.door_navp{ line-height:20px; color:#333; font-size:12px; text-indent:1em; word-wrap:break-word; word-break:break-all;}
.door_navpa{ float:right; padding:0 20px; color:#000; text-decoration:none;}

.Products{ width:350px; height:348px;}
.Products_list{ width:175px; height:110px; float:left; margin-top:5px; overflow:hidden;}
.door_brandimg{ width:175px; height:80px; text-align:center;}
.door_brandimg img{ width:133px; height:80px; border:none;}
.door_brandtext{ width:175px; height:30px; text-align:center; line-height:20px;}
.door_brandtext a{ color:#333; line-height:30px; text-decoration:none;} 
.door_brandtext a:hover{ color:red; text-decoration:underline;}

.exchange{width:348px; height:400px; float:left;overflow:hidden;  }
.exchange a:hover{ color:red; text-decoration:underline;}
.exchange_titil{ width:348px; height:32px;background:url(../images/door_btbg00.gif) no-repeat; }
.exchange_titil span{font-size:13px; font-weight:bold; color:#399001; padding-left:40px; line-height:32px; float:left;}
.exchange_more{ float:right; padding:5px 10px;}
.exchange ul{ width:340px; height:360px; padding-left:20px;overflow:hidden; }
.exchange ul li{ width:300px; height:24px; overflow:hidden; padding-left:20px; background:url(../images/ico1.gif) no-repeat; }
.exchange ul li a{width:300px; height:20px;  line-height:24px; text-decoration:none; color:#333; }
.exchange ul li a:hover{ color:red; text-decoration:underline;}

.door_amongright{ float:right; width:272px; overflow:hidden; }

.door_carte{ width:260px; height:200px; margin-top:10px;overflow:hidden; padding:0 5px; border:#e5f4d2 solid 1px;  word-wrap:break-word; }
.carte1{ width:260px; height:28px; float:left; background:#FAFDF6;}
.carte2{ width:260px; height:28px;  float:left; background:#FFF;}
.carte001{ width:200px; height:28px; line-height:28px;  float:left;overflow:hidden;}
.carte001 a { padding:0 1px; text-decoration:none; color:#333; }
.carte001 a:hover{ color:red; text-decoration:underline;}
.carte002{ width:60px; height:28px; line-height:28px; float:left; }
.carte002 b{ color:#399001;}


.door_Tech{ width:270px; height:180px; margin-top:10px; border:#e5f4d2 solid 1px; overflow:hidden;}
.door_Tech a:hover{ color:red; text-decoration:underline;}
.Tech_titil{ width:270px; height:32px; background:url(../images/door_btbg2.gif) no-repeat; }
.Tech_titil span{ font-size:13px; font-weight:bold; color:#399001; padding-left:20px; line-height:32px; float:left;}
.Tech_more{float:right; line-height:32px; padding:5px 10px;}

.door_Tech ul{ width:260px; height:148px; padding-left:10px; overflow:hidden; }
.door_Tech ul li{ width:230px; height:24px; background:url(../images/door_li1.gif) no-repeat; padding-left:25px; overflow:hidden; }
.door_Tech ul li a{ width:230px; height:24px; line-height:24px; color:#333; text-decoration:none;}

.door_advert{ width:272px; hieght:90px; margin-top:10px;}
.door_advert img{width:272px; height:90px; border:none;}

.door_wine{ width:270px; height:211px; border:#e5f4d2 solid 1px; margin-top:10px; overflow:hidden;}
.door_wine a:hover{ color:red; text-decoration:underline;}
.door_wine ul{ width:260px; height:171px; padding-left:10px;  overflow:hidden;}
.door_wine ul li{ width:230px; height:24px; background:url(../images/door_li2.gif) no-repeat; padding-left:25px; overflow:hidden; }
.door_wine ul li a{ width:230px; height:24px; line-height:24px; color:#333; text-decoration:none;}

.door_download{ width:270px; height:155px; border:#e5f4d2 solid 1px; margin-top:10px; overflow:hidden;}
.door_download a:hover{ color:red; text-decoration:underline;}
.door_download ul{ width:260px; height:126px; padding-left:10px;  overflow:hidden;}
.door_download ul li{ width:230px; height:24px; background:url(../images/door_li2.gif) no-repeat; padding-left:25px; overflow:hidden; }
.door_download ul li a{ width:230px; height:24px; line-height:24px; color:#333; text-decoration:none;}

.door_contact{ width:270px; height:150px; margin-top:10px; border:#e5f4d2 solid 1px; overflow:hidden;}
.door_contact a:hover{ color:red; text-decoration:underline;}
.door_contact ul{ width:260px; height:113px;  overflow:hidden; padding-top:5px; }
.door_contact ul li{ width:230px; height:20px; padding-left:10px; overflow:hidden; }
.door_contact ul li a{ width:230px; height:20px; line-height:24px; color:#333; text-decoration:none;}

.door_links{ width:960px; height:83px; background:url(../images/boor_Blogroll.gif) no-repeat; margin-top:10px; padding:25px 0 0 30px; text-align:center;}
.door_links a{ color:#333; text-decoration:none; padding:0 10px 0 10px; line-height:25px; }
.door_links a:hover{ text-decoration:underline; color:red;}

.copyright{ width:990px; height:90px; margin:0 auto;  margin-top:15px;}
.copyright p{ width:990px; height:20px; color:#666; text-align:center;}


/***登录**/

.logintop{ width:100%; height:60px; background:#009700;}
.logoimg{ width:990px; height:60px; margin:0 auto; overflow:hidden;}
.logoimgs{ float:left; width:260px; height:59px; }
.loginright{ width:150px; height:30px; margin:20px 0 0 0; float:right; color:#666; } 
.loginright a{color:#FFFF66; padding:0 10px; text-decoration:none;}
.loginright a:hover{ color:#FFF; text-decoration:underline;}

.logincontent{ width:990px; margin:0 auto; overflow:hidden;}
.login{ width:988px;  height:370px; margin-top:30px; border:#DDDDDD solid 1px;}
.login_bt{ width:988px; height:32px; background:url(../images/login0.gif) repeat-x; }
.login_bt strong{color:#009700; line-height:32px; padding-left:15px;}

.login_JFrame{ width:400px; height:225px; float:left; margin:20px 0 0 40px; background:url(../images/login1.gif) no-repeat; padding-top:55px;}
.sub{ width:200px;height:25px; line-height:25px;} 
.checking{ width:100px; height:25px; line-height:25px;}
.login_JFrame table tr{ height:45px; line-height:25px; color:#333;}

.login_JFrametext{ text-align:right;width:55px; height:25px;}
.elect{ margin-left:55px; padding:5px ;}
.elect1{ line-height:20px; padding:0 0 0 8px;}
.sbmin{margin-left:55px; }


.login_register{ width:500px; height:300px; float:right; background:url(../images/login01.gif) no-repeat; }
.login_rightcont{ width:400px; margin:30px 0 0 90px; height:260px; color:#333;}
.login_rightcont strong{ line-height:25px; color:#333;}
.login_rightcont p{ color:#666; height:35px; line-height:35px;}
.login_rightcont ul li{ color:#666; height:25px; line-height:25px; padding-left:30px; background:url(../images/registerlist.gif) no-repeat;}

.registersbm{ margin:20px;}




/*******内容********/

.cont_cont{ width:990px; overflow:hidden; margin:0 auto;  margin-top:10px; border-top:#DBDBDB solid 1px;}
.cont_left{width:670px; float:left; margin-top:10px; }

.cont_logo{ wdith:990px; height:54px; }
.cont_logo span{ float:left;}
.cont_logomenu{ width:410px; height:36px; float:left; margin:20px 0 0 40px; }
.cont_logomenu li{ width:65px; float:left; } 
.cont_logomenu li a{ text-decoration:none; padding:5px; color:#333;}
.cont_logomenu li a:hover{ color:#FFF; background:#63AD00;}

.con_form{ width:230px; height:27px; float:right; margin-top:15px; position:relative; }
.cont_formsubt{ width:175px; height:24px; line-height:24px; float:left; border:#E7E7E7 solid 1px;}
.cont_subminimg{width:50px; height:26px; float:left; position:absolute; left:175px;} 


.cont_leftbt{ width:630px; height:30px; border-bottom:1px dotted #DBDBDB; padding-left:40px; }
.cont_leftbt span{ float:left; color:#969696; line-height:30px; padding:0 15px; font-size:12px; }
.cont_left h2{text-align:center; padding:20px 16px;font-family: '微软雅黑';font-size: 20px;font-weight: normal;}
.cont_matter{ width:670px; overflow:hidden; }
.cont_matter img{ display:block; margin:0 auto; padding:10px 0; }
.cont_matter p{ line-height:25px; font-size:14px; color:#333; word-wrap:break-word; text-indent:2em; margin-bottom:20px;  }

.cont_right{ width:300px; float:right;}
.recommend{ width:300px; height:480px; margin-top:20px; overflow:hidden;}
.recommendbt{ width:300px; height:30px;}
.recommendbt h4{color:#63AD00; font-family: '微软雅黑'; font-size: 16px; margin-bottom: 10px; font-weight: normal;}
.recommendcont dl{ width:300px; height:60px; overflow:hidden; margin-bottom:15px;}
.recommendcont dl dt{ width:90px; height:60px; float:left;}
.recommendcont dl dt img{ width:90px; height:60px;}
.recommendcont dl dd{ padding-left:10px; width:200px; float:right;}
.recommendcont dl dd a{ line-height:30px; color:#333; text-decoration:none;}
.recommendcont dl dd a:hover{ color:red; text-decoration:underline;}

.cont_focus{ width:298px; height:207px; background:#F9F9F9; margin-top:20px; border:#E3E3E3 solid 1px;}
.cont_focusbt{ wdith:298px; height:30px; border-bottom:#E3E3E3 solid 1px;}
.cont_focusbt span{ padding:0 20px; color:#333; line-height:30px; font-size:14px;}

.cont_focus ul{ width:298px; height:175px; overflow:hidden;}
.cont_focus ul li{ width:278px; height:25px; padding-left:20px; overflow:hidden; background:url(../images/cont_focus.gif) no-repeat;}
.cont_focus ul li a{ line-height:25px; color:#333; text-decoration:none;}


.cont_topic{ width:300px; height:280px; margin-top:20px;}
.cont_topicbt{ width:300px; height:30px;}
.cont_topicbt h4{color:#63AD00; font-family: '微软雅黑'; font-size: 16px; margin-bottom: 10px; font-weight: normal;}

.cont_topic ul{ width:300px; height:250px; overflow:hidden; }
.cont_topic ul li{ width:150px; float:left; }
.cont_topic ul li img{width:130px; height:103px;}
.cont_topic ul li a{ display:block; color:#333; text-decoration:none;}
.cont_topic ul li a:hover{ color:red; text-decoration:underline;}
.link{font-size: 12px; height:25px; line-height:25px;overflow: hidden; width: 140px;word-break: keep-all;}





/**登录页面**/
.login0_top{ width:100%; height:30px; background:#FAFAFA;  border-bottom:#EBEBEB solid 1px; }
.login0_center{ width:990px; height:30px; margin:0 auto;  }
.login0_topleft{ width:570px; height:30px; float:left;}
.login0_topleft a{color:#666; text-decoration:none; padding:0 5px; line-height:30px;}
.login0_topleft a:hover{ color:red; text-decoration:underline; }

.login0_topright{ width:200px; height:30px; float:right; color:#999;}
.login0_topright a{color:#666; text-decoration:none; padding:0 5px; line-height:30px;}
.login0_topright a:hover{ color:red; text-decoration:underline;}


.hvcontent{width:430px; margin:0 auto; text-align:center;overflow:hidden; padding-top:40px; }
#hvtable{width:100%; height:24%; margin:0px auto; border-spacing:0px; border-collapse:separate;text-align:left;border: 1px solid #479A00;}
#hvtable tr td{ border:#EBEBEB solid 0px;}

#hvtitle{width:100%; height:30px; background:#479A00;}
#hvtable .dleft {text-align:right;}
.itext {width: 160px;}
