@charset "utf-8";
/* CSS Document */


body{font-family: Tahoma,"宋体",Helvetica,Arial,sans-serif; font-size:12px;}
*{ margin:0; padding:0;}
ul,li{ list-style:none;}
img,b{ border:none;}
a{ text-decoration:none;}


.index_top{ width:100%; height:30px; background:#F5F5F5; font-size:13px; }
.index_top00{ width:1000px; height:30px; margin:0 auto; }
.index_top00 p{ line-height:30px; float:left; font-size:12px;}
.index_top01{ float:right; width:480px; height:30px; font-size:12px; color:#CCC; }
.index_top01 li{ float:left; line-height:30px;}
.index_top01 li a{ color:#333; padding:0 10px;}
.index_top01 li a:hover{ color:#F00; text-decoration:underline;}
.index_top01 li span{ color:#F00;}
 
.logoinfo{ width:100%; height:76px; background:url(../images/index_top.gif) repeat-x; }

.nav{width:100%; height:40px; background:url(../images/menu_bg.gif) repeat-x; }
.menu{ width:1000px; height:40px; margin:0 auto; }
.menu_left{ width:210px; height:34px; background:url(../images/menu_left.gif) no-repeat;  margin-top:6px; float:left;}
.menu_left a{ display:block; display:inline-block; width:175px; padding-left:35px;  font-size:15px; line-height:35px; color:#FFF; text-decoration:none;}

.menu_nav{ width:400px; height:40px; float:left;  }
.menu_right{width:400px; height:40px;  }
.menu_right li{ float:left;  height:40px;  text-align:center; text-decoration:none; }
.menu_right li a{ display:block; display:inline-block; padding:0 10px; font-size:12px; font-weight:bold; text-align:center; text-decoration:none;  line-height:40px; color:#FFF; }
.menu_right li a:hover{ background:url(../images/menu_right.gif) repeat-x;  }


.nav_from{ width:220px; height:40px; float:left; position:relative;}
.nav_text{ width:155px; height:25px; margin-top:7px; line-height:25px; }
.nav_subm{ float:right; width:46px; height:26px; position:absolute; top:8px; right:10px; }

.nav_shop{ float:right; width:126px; height:25px; background:url(../images/nav_shopcar.gif) no-repeat; color:#333; line-height:25px; text-indent:3em; margin-top:8px;}
.nav_shop span{ color:#06F;}

.content{ width:1000px; margin:0 auto;  height:240px;}
.content_left{ width:208px; height:240px; float:left; position:relative; z-index:500;  }



.content_menu { width:208px; height:240px; position:absolute; top:-3px; }
.cl {clear:both; _overflow:hidden;}
.menn_ulli {float:left;  display:inline; background:url(../images/home_nav_icon.gif) no-repeat; width:208px; height:237px; padding-top:3px; }
.menu_main,li.menu_main00 {  display:inline;position:relative;height:33px;line-height:33px; float:left; width:208px; }
.menn_ulli li a.main_aa {color:#333;text-decoration:none;font-size:13px;padding:0 0 0 58px;display:block; width:156px; height:33px; z-index:1000; }
.menu_main a:hover { color:#333; }
.menu_main {overflow:hidden;}
.menu_main00 { }
.menu_main00 a.main_aa {color:#333; font-weight:bold; background:url(../images/menu_bglibg.gif); position:absolute; right:-6px;  }
.content_menunav { background:#f4f6f4; border:#1b7c1b solid 1px; width:600px; color:#000;position:absolute;left: 207px;top: 0px;  }

.menn_libg0{ width:410px;  float:left; overflow:hidden; background:#FFFFFF;  }
.menn_libg001{ width:410px; margin-left:10px; border-bottom:#F4F6F3 solid 1px; margin-bottom:20px; padding-bottom:5px; overflow:hidden; }
.menn_libg001clea{ clear:both; }
.menn_libg0bt{ width:65px; float:left;  }
.menn_libg0bt b{ color:#000; width:65px; line-height:33px; padding-left:5px;}
.menn_libg0neir{ width:330px; float:right; }
.neir_ul{ width:330px; overflow:hidden; word-break:keep-all; }
.neir_li{ float:left; color:#CCC; height:25px; padding:0; margin:0;}
.neir_li a.sss{ color:#333; padding:3px 5px; }
.neir_li a:hover{ color:red;}

.menn_libg0right{ width:165px; float:left; margin-left:5px;  overflow:hidden; word-break:keep-all;  }  
.neirright_ul{ width:165px;}
.neirright_ul li{ float:left; height:25px;}
.neirright_ul li a{ padding:3px 5px; color:#333;}
.neirright_ul li a:hover{ color:red;}

.content_menunav2 {background:#f4f6f4; border:#1b7c1b solid 1px;width:600px; color:#000;position:absolute;left: 207px;top: -33px;}
.content_menunav3 {background:#f4f6f4; border:#1b7c1b solid 1px;width:600px; color:#000;position:absolute;left: 207px;top: -66px;}
.content_menunav4{background:#f4f6f4; border:#1b7c1b solid 1px;width:600px; color:#000;position:absolute;left: 207px;top: -99px;}
.content_menunav5 {background:#f4f6f4; border:#1b7c1b solid 1px;width:600px; color:#000;position:absolute;left: 207px;top: -132px;}
.content_menunav6 {background:#f4f6f4; border:#1b7c1b solid 1px;width:600px; color:#000;position:absolute;left: 207px;top: -165px;}
.content_menunav7 {background:#f4f6f4; border:#1b7c1b solid 1px;width:600px; color:#000;position:absolute;left: 207px;top: -198px;}


.content_cont{ width:550px; float:left; margin-left:10px; margin-top:10px; }
.conten_slide{ width:550px; height:226px; overflow:hidden;position:relative;border:solid 1px #D0D0D0; }
.conten_slide0101{position:absolute;width:550em;}/* 必要元素 */
.conten_slide0101 li{height:226px;overflow:hidden;float:left;}
.conten_slidebt{position:absolute;bottom:5px;right:8px;float:right;}
.conten_slidebt li{background:#92CD4F; cursor:pointer;float:left;font-family:arial;height:18px;line-height:18px; width:18px;margin:3px;text-align:center;color:#000;}
.conten_slidebt li.current{background:#1D881D; height:19px;line-height:19px;width:19px; color:#FFF; font-weight:bold;}





.conten_right{ width:205px; float:left; margin-top:10px; margin-left:10px; }

.conten_board{ width:218px; height:226px; border:1px solid #D0D0D0;  }
.conten_board p{ height:30px; width:218px; background:url(../images/hometitle1115.gif) repeat-x scroll 0 0 transparent;}
.conten_board p span{ height:30px; line-height:30px; float:right; padding:0 20px; }
.conten_board p span a{ color:#666;}
.conten_board p span a:hover{ color:red; text-decoration:underline;}
.conten_board ul{ width:218px; height:195px;}
.conten_board ul li{ width:203px; height:27px; line-height:27px; overflow:hidden; padding:0 0 0 15px; background:url(../images/point1115.gif) no-repeat;  }
.conten_board ul li a{ color:#484848;}
.conten_board ul li a:hover{ color:red; text-decoration:underline;} 

.content_goods{ width:1000px; margin:0 auto; overflow:hidden;  padding-top:10px; }
.content_news{ width:208px; height:500px; float:left;}
.news_group{ width:208px; height:206px;  border:1px solid #D0D0D0; position:relative;}
.news_0{ width:61px; height:62px; background:url(../images/news_group00.png) no-repeat; float:left; position:absolute; top:-1px; left:-1px; }
.groupbuy_time{ width:208px; height:30px; color:#333; float:left; margin:20px auto 0; text-align:center;  }
.groupbuy_time span{color:#404040; font-size:16px; font-weight:bold; padding:0 2px 0 0;}
.groupbuy_pic{ width:208px; height:100px; float:left; text-align:center;  }
.groupbuy_pic a img{ width:100px; height:100px;}
.groupbuy_name{ width:168px; height:17px; float:left; overflow:hidden; line-height:17px;word-break:break-all; padding:0 0 0 20px; margin:3px 0 0;}
.groupbuy_name a{ color:#333;}
.groupbuy_name a:hover{ color:red; text-decoration:underline;}
.groupbuy_price{ width:196px; height:34px; float:left; background:url(../images/news_01.gif) no-repeat; background-position:right; color:#FFF; font-size:20px; cursor:pointer; font-weight:bold; overflow:hidden;} 
.groupbuy_price p{font-family: "宋体"; font-size:12px; line-height:30px; padding:0 0 0 25px;}
.groupbuy_price p span{ font-family:Tahoma,Helvetica,Arial,sans-serif,"宋体"; font-size:26px; }

.news_group11{width:208px; height:206px;  border:1px solid #D0D0D0; border-top:none; }
.news_group22{ width:208px; overflow:hidden; }
.news_group22 ul{ overflow:hidden;}
.news_group22 ul li{width:208px; height:140px; margin-top:5px;  }
.news_group22 ul li a img{width:208px; height:140px;  }


.content_price{ width:550px;float:left; margin-left:10px; }


.price_nav{ width:550px; height:360px; margin-bottom:10px; }
.slider{ width:550px;height:360px;border:1px solid #ccc;position:relative;overflow:hidden;}
.price_navbt{ width:550px; height:31px;  }
.price_navbt span{ height:31px; width:100px; float:left; background:url(../images/hometitle1115.gif) no-repeat; background-position:bottom;  margin:0 0 0 24px; }
.switcher{position:absolute;top:2px; right:14px;float:right;z-index:5;}
.switcher a{background:#92CD4F; cursor:pointer; float:left;  font-size:12px; height:18px;line-height:18px;width:18px; margin:4px;text-align:center;color:#000;}
.switcher a.cur,.switcher a:hover{background:#2D9C2D; height:18px;line-height:18px;width:18px;color:#FFF; font-weight:bold;}
.conbox{position:absolute; }
.conboxbord{ border-top:1px solid #ccc;}
.price_11{ width:550px; height:325px;  }
.price_fabric{ width:550px; height:325px;  }
.price_fabric ul{ width:550px; height:325px; }
.price_fabric ul li{ width:160px; height:160px; margin:0 0 0 14px; float:left; position:relative;}
.price_img{ width:160px; height:130px;  text-align:center;  }
.price_img a{width:130px; height:130px; }
.price_img a img{ width:130px; height:130px;}

.price_tariff{ position:absolute; right:18px; bottom:32px; padding:5px 10px; background:#FFC72B;}
.price_tariff p{ color:#F00;}
.price_tariff p strong{ font-size:14px;}
.price_tariff p strong span{ font-size:12px;}

.price_font{ width:160px; height:30px; overflow:hidden;  }
.price_font a{ color:#333; line-height:15px; }
.price_font a:hover{ color:red; text-decoration:underline;}

.choose{ width:550px; height:223px; margin-bottom:10px; }
.choose_la{ width:550px; height:223px; border:1px solid #ccc;position:relative;overflow:hidden;}
.choose_bt{ width:550px; height:31px;  }
.choose_bt span{  height:31px; width:100px; float:left; background:url(../images/hometitle1115.gif) no-repeat scroll 0 -132px transparent;  margin:0 0 0 24px;  }
.choose_ct{ width:550px; height:192px;} 

.choose_hot{width:550px; height:192px; }
.choose_hot ul{width:550px; height:192px;}
.choose_hot ul li{ width:168px; height:187px; float:left; margin-left:10px;}

.choose_img{ width:168px; height:130px; text-align:center;}
.choose_img a{ width:130px; height:130px; }
.choose_img a img{ width:130px; height:130px;  }

.choose_tariff{ width:160px; height:20px; text-align:center; line-height:20px;}
.choose_tariff span{ color:#666;}
.choose_tariff strong{ color:red; font-size:14px; }
.choose_tariff strong b{ font-size:12px;}

.choose_font{ width:160px; height:36px; overflow:hidden; line-height:18px;  }
.choose_font a{ color:#333;}
.choose_font a:hover{ color:red; text-decoration:underline;}


.content_guide{  width:218px; overflow:hidden; float:left; margin-left:10px;    }
.guide_img{ width:218px; height:164px;}
.guide_00{ width:216px; height:428px; border:#D0D0D0 solid 1px; overflow:hidden;  }
.guide_00 h1{ background:url(../images/hometitle1115.gif) repeat-x scroll 0 -349px transparent; float:left; height:30px; width:216px; overflow:hidden; }
.guide_00 ul{ width: width:216px; height:428px;}
.guide_00 ul li{ width:200px; height:48px; padding:8px 0 0 16px; float:left; overflow:hidden;  }
.guide_cpimg{ width:40px; height:40px; overflow:hidden; float:left;}
.guide_cpimg a img{ width:40px; height:40px;}
.guide_cpbt{ width:140px; height:40px; float:left; margin-left:12px; line-height:20px; overflow:hidden; }
.guide_cpbt a{ color:#333;} 
.guide_cpbt a:hover{ color:red; text-decoration:underline;}
	
	
	
.newcas{ width:778px; height:237px; float:right; border:1px solid #D0D0D0;} 

.newcase_left{ width:380px; height:180px;  position:absolute; left:0px; float:left; padding:15px 0 0 20px; overflow:hidden;}
.slidebox-01{width:160px;height:180px; float:left;  overflow:hidden; position:relative;  }
.slidepic-01{position:absolute;width:160em;  } 
.slidepic-01 li{height:160px; height:130px; overflow:hidden;float:left;}
.slidepic-01 li a img{ width:160px; height:130px;}
.slidebtn-01{ width:160px; height:35px; position:absolute; bottom:5px;  }
.slidebtn-01 ul{ width:160px; height:35px; padding:0; margin:0px;}
.slidebtn-01 li{ cursor:pointer;float:left; margin-left:2px; width:35px; height:35px;text-align:center;color:#D00000; border:#e4e4e4 solid 1px;}
.slidebtn-01 li.current{ width:35px; height:35px; border:#b4dd85 solid 1px;}
.slidebtn-01 li.current img{ width:35px; height:35px;}


.newcase_cpbt{ width:200px; height:180px; float:right; overflow:hidden; }
.newcase_cpname{ width:200px; height:40px; line-height:20px; overflow:hidden;}
.newcase_cpname a{ color:#333; }
.newcase_cpname a:hover{ color:#F00; text-decoration:underline;}
.newcase_cpcost{ width:200px; height:50px; overflow:hidden; text-indent:2em;}
.newcase_cpcost span{ color:#666;}
.newcase_cpcost strong{ color:red; font-size:20px; line-height:40px;}
.newcase_depict{ width:200px; height:85px; overflow:hidden; line-height:17px;}
.newcase_depict a{ color:#333; }
.newcase_depict a:hover{ color:#F00; text-decoration:underline;}


.newcas_la{ width:778px; height:237px; position:relative;overflow:hidden;}
.newcase_bt{ width:778px; height:31px; border-bottom:1px solid #ccc;  }
.newcase_bt span{ width:108px; height:31px; float:left; margin:0 0 0 24px;  background:url(../images/hometitle1115.gif) no-repeat scroll 0 -166px transparent;}
.newcas_ct{ width:360px; height:206px; }
.cont{position:absolute; right:0px;}

.newcas_hot{ width:360px; height:200px; }
.newcas_hot ul{width:360px; height:200px; }
.newcas_hot ul li{ width:160px; height:200px; float:left; margin-left:10px; }
.newcas_img{ width:160px; height:130px; text-align:center; }
.newcas_img a { width:130px; height:130px;}
.newcas_img a img{ width:130px; height:130px;}

.newcas_font{ width:160px; height:40px; overflow:hidden; }
.newcas_font a{ color:#333; line-height:20px;}
.newcas_font a:hover{color:red; text-decoration:underline;}


.newcas_tariff{ width:160px; height:20px; text-align:center; line-height:20px;}
.newcas_tariff span{ color:#999;}
.newcas_tariff strong{ color:red; font-size:14px; }
.newcas_tariff strong b{ font-size:12px;}


.content_001{ width:1000px; margin:0 auto; }
.content_002F{ width:1000px; height:30px;  margin-top:15px; border-bottom:#09F solid 2px; }
.content_002F h1{ width:200px; height:30px; float:left; }
.content_002F h1 p{ font-family:"微软雅黑"; font-size:18px; font-style:normal; text-indent:2em; }
.content_002F h1 p span{ color:#F00; margin-right:5px; }
.content_002F h1 p a{color:#333;}

.cont2F_00{ width:280px; height:30px; float:right; color:#CCC;}
.cont2F_00 li{ float:left; line-height:30px;}
.cont2F_00 li a{ color:#333; padding:0 10px;}
.cont2F_00 li a:hover{ text-decoration:underline; color:red;}
.cont2F_11{ width:1000px; height:225px;}
.cont2F_11left{ width:210px; height:215px; float:left; }
.cont2F_11left img{ width:210px; height:215px; }

.cont2F_11cont{ width:550px; height:215px; float:left; margin-left:10px;}
.cont2F_11cont ul{ width:550px; height:215px; margin-top:10px; padding-left:10px; }
.cont2F_11cont ul li{ float:left;  width:160px; height:215px;  margin-left:10px;}
.cont2F_casepic{ width:160px; height:140px; float:left; }
.cont2F_casepic a{ text-align:center; width:160px; height:130px; display:block; }
.cont2F_casepic a img{ width:130px; height:130px;}
.cont2F_casename{ width:160px; height:30px; float:left; text-align:center; line-height:15px; word-break:break-all; overflow:hidden;}
.cont2F_casename a{ text-align:center; color:#333; }
.cont2F_casename a:hover{ color:red; text-decoration:underline;}
.cont2F_caseprice{ width:160px; height:30px; padding:5px 0 5px 10px; line-height:30px; }
.cont2F_caseprice span{ font-family:"宋体"; font-size:12px; color:#666;}
.cont2F_caseprice strong{ color:red;}

.cont2F_11right{ width:218px; height:215px; float:left; background:#F7F7F7;}


.topbox dt,.topbox dt .num,.topbox dt.on{background:url(../images/collate.png) no-repeat;}
.topbox{width:218px; border:1px solid #ddd;}
.topbox dt{padding:1px 16px 0 36px;background-position:0 0; height:28px;line-height:28px;overflow:hidden;position:relative;}
.topbox dt .num{position:absolute;top:5px;left:5px;width:16px;height:16px;line-height:16px;overflow:hidden;font-size:12px;text-align:center;color:#fff;font-weight:800;background-position:-558px 0;display:block;}
.topbox dt a{color:#333;text-decoration:none;color:#3366cc;}
.topbox dt.on{background-position:-237px 0;}
.topbox dd{border:solid 1px #fff;height:68px;overflow:hidden;}
.collate_img{ border:#CCC solid 1px; float: left; width:56px; height:56px; margin:5px;} 
.collate_font{ width:142px; height:56px; float:right; margin:5px 0; overflow:hidden;}
.collate_font p{width:142px; height:40px; overflow:hidden;  line-height:20px;}
.collate_font p a{ color:#333; text-decoration:none; }
.collate_font p a:hover{ color:red; text-decoration:underline;}
.collate_font span{ color:#F00;}






.content_003F{ width:1000px; height:30px;  margin-top:15px; border-bottom:#CC0 solid 2px; }
.content_003F h1{ width:200px; height:30px; float:left; }
.content_003F h1 p{ font-family:"微软雅黑"; font-size:18px; font-style:normal; text-indent:2em; }
.content_003F h1 p span{  color:#F00; margin-right:5px; }
.content_003F h1 p a{color:#333;}
.cont3F_00{ width:280px; height:30px; float:right; color:#CCC;}
.cont3F_00 li{ float:left; line-height:30px;}
.cont3F_00 li a{ color:#333; padding:0 10px;}
.cont3F_00 li a:hover{ text-decoration:underline; color:red;}
.cont3F_11{ width:1000px; height:225px;}


.content_004F{ width:1000px; height:30px;  margin-top:15px; border-bottom:#704FA7 solid 2px; }
.content_004F h1{ width:200px; height:30px; float:left; }
.content_004F h1 p{ font-family:"微软雅黑"; font-size:18px; font-style:normal; text-indent:2em; }
.content_004F h1 p span{ color:#F00; margin-right:5px; }
.content_004F h1 p a{color:#333;}
.cont4F_00{ width:280px; height:30px; float:right; color:#CCC;}
.cont4F_00 li{ float:left; line-height:30px;}
.cont4F_00 li a{ color:#333; padding:0 10px;}
.cont4F_00 li a:hover{ text-decoration:underline; color:red;}
.cont4F_11{ width:1000px; height:225px;}


.content_005F{ width:1000px; height:30px;  margin-top:15px; border-bottom:#DF6835 solid 2px; }
.content_005F h1{ width:200px; height:30px; float:left; }
.content_005F h1 p{ font-family:"微软雅黑"; font-size:18px; font-style:normal; text-indent:2em; }
.content_005F h1 p span{  color:#F00; margin-right:5px; }
.content_005F h1 p a{color:#333;}
.cont5F_00{ width:280px; height:30px; float:right; color:#CCC;}
.cont5F_00 li{ float:left; line-height:30px;}
.cont5F_00 li a{ color:#333; padding:0 10px;}
.cont5F_00 li a:hover{ text-decoration:underline; color:red;}
.cont5F_11{ width:1000px; height:225px;}



.content_006F{ width:1000px; height:30px;  margin-top:15px; border-bottom:#62B2A2 solid 2px; }
.content_006F h1{ width:200px; height:30px; float:left; }
.content_006F h1 p{ font-family:"微软雅黑"; font-size:18px; font-style:normal; text-indent:2em; }
.content_006F h1 p span{color:#F00; margin-right:5px; }
.content_006F h1 p a{color:#333;}
.cont6F_00{ width:280px; height:30px; float:right; color:#CCC;}
.cont6F_00 li{ float:left; line-height:30px;}
.cont6F_00 li a{ color:#333; padding:0 10px;}
.cont6F_00 li a:hover{ text-decoration:underline; color:red;}
.cont6F_11{ width:1000px; height:225px;}


.cont_foot00{ width:1000px; height:10px; border:#D0D0D0 solid 1px; border-bottom:none; margin-top:10px; }
.cont_foot{ width:1000px; height:150px; border:#D0D0D0 solid 1px; border-top:none; padding-bottom:10px;}
.cont_foot11{ width:700px; height:150px; float:left; background:#F8F8F8; }


.cont_foottabtr{ width:700px; height:30px; line-height:30px; padding:0; margin:0;font-family:"微软雅黑"; font-size:16px; border-bottom:#D0D0D0 solid 1px; }
.cont_foottabtr li span{ color:#000; height:40px; font-size:13px; } 
.cont_foottabtr li{ width:139px; height:30px; float:left; color:#1C851C; text-align:center; background:#FFF; border-right:#D0D0D0 solid 1px;}

.cont_foottab{ width:700px;  border-collapse:collapse; }
.cont_foottab tr{ width:700px; height:23px;}
.cont_foottab tr td{ width:139px; border-right:#D0D0D0 solid 1px; text-align:center; font-family:arial,宋体,sans-serif; }
.cont_foottab tr td a{ color:#000; font-size:13px;}
.cont_foottab tr td a:hover{ color:red; text-decoration:underline;}

.cont_foot22{ width:278px; height:150px; float:left; background:url(../images/group/servicerightpic.gif); margin-left:10px;  } 

.cont_servicepro{ width:1000px; height:70px; background:url(../images/group/sdsada.jpg); border: 1px solid #D0D0D0; border-top:none;}

.fundus{ width:1000px; height:80px; margin:0 auto; padding-top:30px;}
.fundus ul{ width:420px; height:25px; margin:0 auto;}
.fundus ul li{ float:left; color:#999;}
.fundus ul li a{ color:#333; padding:0 8px;}
.fundus ul li a:hover{ color:red; text-decoration:underline;}

.fundus span{ color:#666; text-align:center; display:block; width:1000px; line-height:20px;}
.fundus span a{ color:#000;}
.fundus span a:hover{ color:red; text-decoration:underline;}


.partner{ width:1000px; height:50px;  margin:0 auto; text-align:center;} 
























